.calc {
    background-color: #11052e;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  
  .calc .div-2 {
    background-color: var(--neutraldarkdarkest);
    position: relative;
    width: 600px;
    padding-bottom: 300px;
  }

  .calc .navbar {
    position: relative;
  }
  
  .calc .home-message {
    align-items: center;
    display: flex;
    gap: 10px;
    justify-content: center;
    position: relative;
    width: 600px;
    margin-top: 20px;
    margin-bottom: 50px;
    color: var(--neutrallightlightest) !important;
    font-family: var(--heading-h4-font-family);
    font-size: 18px;
    font-style: var(--heading-h4-font-style);
    letter-spacing: var(--heading-h4-letter-spacing);
    line-height: var(--heading-h4-line-height);
  }

  .calc .calc-field {
    width: 600px;
    position: relative;
    align-items: center;
    display: flex;
    gap: 10px;
    justify-content: center;
  }

  .calc .subtitle {
    font-family: var(--heading-h5-font-family);
    font-size: 20px;
    font-style: var(--heading-h5-font-style);
    font-weight: var(--heading-h5-font-weight);
    letter-spacing: var(--heading-h5-letter-spacing);
    line-height: var(--heading-h5-line-height);
    color: var(--neutrallightlight);
    margin-bottom: 8px;
    margin-left: 22px;
    text-align: center;
  }

  .calc .input-field {
    width: 350px;
    padding: 20px 10px 20px 10px;
    border-radius: 12px;
    font-family: var(--heading-h5-font-family);
    font-size: 18px;
    font-style: var(--heading-h5-font-style);
    letter-spacing: var(--heading-h5-letter-spacing);
    line-height: var(--heading-h5-line-height);
    color: var(--neutraldarkmedium);
    margin-bottom: 18px;
  }

  .calc .login-btn-div {
    margin-top: 18px;
    margin-bottom: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .calc .login-btn {
    width: 370px;
    border-radius: 12px;
    padding: 20px 10px 20px 10px;
    background-color: var(--neutraldarkmedium);
    font-size: 20px;
    font-weight: var(--heading-h5-font-weight);
    font-style: var(--heading-h5-font-style);
    letter-spacing: var(--heading-h5-letter-spacing);
    line-height: var(--heading-h5-line-height);
    color: var(--neutrallightlight);
  }

  .calc .login-btn-div .calc-btn:disabled {
    opacity: 0.5;
  }

  .calc .rule {
      font-family: var(--heading-h5-font-family);
      font-size: 18px;
      font-weight: var(--heading-h5-font-weight);
      font-style: var(--heading-h5-font-style);
      letter-spacing: var(--heading-h5-letter-spacing);
      line-height: var(--heading-h5-line-height);
      color: var(--neutrallightlightest);
      text-align: center;
  }

  .calc .rule span {
    color: var(--highlightlight);
    font-weight: var(--heading-h5-font-weight);
    background-color: var(--highlightlightest);
    padding: 2px 8px;
    border-radius: 5px;
}

.calc .input-area {
  display: flex;
  align-items: center;
  justify-content: center;
}

.calc .rule {
  background-color: #2a2a2a;
  border-radius: 8px;
  padding: 16px;
}

.calc .rule-subtitle {
  color: #b7b7b7;
  margin-bottom: 12px;
  font-size: 14px;
  font-weight: 500;
  line-height: 140%;
}

.calc .rule-result {
  margin-bottom: 16px;
    font-size: 20px;
    font-weight: 400;
    line-height: 140%;
}

.calc .rule-result .result-desc {
  color: #b7b7b7;
    margin-bottom: 32px;
    font-size: 14px;
    line-height: 140%;
}


.rule {
  text-align: left;
}

.rule-subtitle,
.rule-result,
.result-desc {
  text-align: left;
}
