.login {
    background-color: #11052e;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  
  .login .div-2 {
    background-color: var(--neutraldarkdarkest);
    height: 1000px;
    position: relative;
    width: 600px;
    padding-bottom: 300px;
  }
  
  .login .home-message {
    align-items: center;
    display: flex;
    gap: 10px;
    justify-content: center;
    position: absolute;
    top: 200px;
    width: 600px;
    color: var(--neutrallightlightest) !important;
    font-family: var(--heading-h4-font-family);
    font-size: var(--heading-h4-font-size);
    font-style: var(--heading-h4-font-style);
    font-weight: var(--heading-h4-font-weight);
    letter-spacing: var(--heading-h4-letter-spacing);
    line-height: var(--heading-h4-line-height);
  }

  .login .login-field {
    width: 600px;
    position: absolute;
    top: 300px;
    align-items: center;
    display: flex;
    gap: 10px;
    justify-content: center;
  }

  .login .subtitle {
    font-family: var(--heading-h5-font-family);
    font-size: 20px;
    font-style: var(--heading-h5-font-style);
    font-weight: var(--heading-h5-font-weight);
    letter-spacing: var(--heading-h5-letter-spacing);
    line-height: var(--heading-h5-line-height);
    color: var(--neutrallightlight);
    margin-bottom: 8px;
  }

  .login .input-field {
    width: 350px;
    padding: 20px 10px 20px 10px;
    border-radius: 12px;
    font-family: var(--heading-h5-font-family);
    font-size: 18px;
    font-style: var(--heading-h5-font-style);
    letter-spacing: var(--heading-h5-letter-spacing);
    line-height: var(--heading-h5-line-height);
    color: var(--neutraldarkmedium);
    margin-bottom: 18px;
  }

  .login .login-btn-div {
    margin-bottom: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .login .login-btn {
    width: 370px;
    border-radius: 12px;
    padding: 20px 10px 20px 10px;
    background-color: var(--neutraldarkmedium);
    font-size: 20px;
    font-weight: var(--heading-h5-font-weight);
    font-style: var(--heading-h5-font-style);
    letter-spacing: var(--heading-h5-letter-spacing);
    line-height: var(--heading-h5-line-height);
    color: var(--neutrallightlight);
  }

  .login .login-btn-div .login-btn:disabled {
    opacity: 0.5;
  }