.MessageList {
    width: 100%;
    height: 400px;
    border-radius: 10px;
    overflow-y: auto;
    box-sizing: border-box;
    background-color: var(--neutraldarkdark);
  }

  
   /* 작성자가 고객일 경우 */

  .MessageList .messageBubble-User {
    width: 100%;
    display: flex; 
  }
  
  .messageBubble-User .bubbleContent-User {
    width: 200px;
    height: fit-content;
    margin: 15px;
    align-items: flex-start;
    background-color: var(--neutraldarkmedium);
    border-radius: 15px;
    flex-direction: column;
    gap: 4px;
    left: 24px;
    padding: 10px 15px;
    box-sizing: border-box;
    white-space: normal; 
    word-break: keep-all;
  }  
  
  
  
    
  .bubbleContent-User .userName-User {
    color: var(--neutraldarklight);
    font-family: var(--body-body-l-font-family);
    font-size: var(--body-body-l-font-size);
    font-style: var(--body-body-l-font-style);
    font-weight: var(--body-body-l-font-weight);
    letter-spacing: var(--body-body-l-letter-spacing);
    line-height: var(--body-body-l-line-height);
    margin-bottom: 10px;
    position: relative;
    text-align: left;
    word-break: keep-all;

  }
  
  .bubbleContent-User .bubbleText-User {
    color: var(--neutrallightlightest);
    font-family: var(--body-body-XS-font-family);
    font-size: var(--body-body-XS-font-size);
    font-style: var(--body-body-XS-font-style);
    font-weight: var(--body-body-XS-font-weight);
    letter-spacing: var(--body-body-XS-letter-spacing);
    line-height: var(--body-body-XS-line-height);

    position: relative;
    word-break: keep-all;
    white-space: normal; 

  }
  
  
  
  
  


/*작성자가 회사일 경우*/

.MessageList .messageBubble-Corp {
    max-width: 100%;
    display: flex; 
    justify-content: flex-end;
    word-break: keep-all;

  }

.messageBubble-Corp .bubbleContent-Corp {
    width: 50%;
    margin: 15px;
    align-items: flex-end;
    background-color: var(--highlightbackground);
    border-radius: 15px;
    flex-direction: column;
    padding: 10px 15px;
    box-sizing: border-box;
    white-space: normal; 
    word-break: keep-all;

  }


  
  .bubbleContent-Corp .userName-Corp {
    color: var(--supportwarninglight);
    font-family: var(--body-body-l-font-family);
    font-size: var(--body-body-l-font-size);
    font-style: var(--body-body-l-font-style);
    font-weight: var(--body-body-l-font-weight);
    letter-spacing: var(--body-body-l-letter-spacing);
    line-height: var(--body-body-l-line-height);
    margin-bottom: 10px;
    position: relative;
    text-align: right;
    word-break: keep-all;

  }
  
  
  .bubbleContent-Corp .bubbleText-Corp {
    color: var(--neutrallightlightest);
    font-family: var(--body-body-XS-font-family);
    font-size: var(--body-body-XS-font-size);
    font-style: var(--body-body-XS-font-style);
    font-weight: var(--body-body-XS-font-weight);
    letter-spacing: var(--body-body-XS-letter-spacing);
    line-height: var(--body-body-XS-line-height);
    position: relative;
    text-align: right;
    word-break: keep-all;


  }
  




/*  */



  /* style.css */

/* 기본 스크롤바를 숨김 */
.MessageList::-webkit-scrollbar {
    width: 12px;
  }
  

  /* 스크롤바의 드래그 핸들 디자인 및 색상 설정 */
.MessageList::-webkit-scrollbar-thumb {
    background-color: var(--neutraldarklight);
    border-radius: 6px;    

    
  }
  
  
  
  
  