body {
    font-family: "Pretendard Variable";
    letter-spacing: -0.1px;
  }

.layout{
  max-width: 390px;
  background-color: white;
  margin: 0 auto;
  min-height:100vh;
}

.warning-text {
    font-size: x-large;
    font-weight: bolder;
    color: var(--highlightdarkest);
    text-align: center;
    padding: 10px;
    display: none;
    margin: 20px;
}