:root {
    --action-action-l-font-family: "Pretendard Variable", Helvetica;
    --action-action-l-font-size: 19px;
    --action-action-l-font-style: normal;
    --action-action-l-font-weight: 600;
    --action-action-l-letter-spacing: 0px;
    --action-action-l-line-height: normal;
    --action-action-m-font-family: "Pretendard Variable", Helvetica;
    --action-action-m-font-size: 17px;
    --action-action-m-font-style: normal;
    --action-action-m-font-weight: 600;
    --action-action-m-letter-spacing: 0px;
    --action-action-m-line-height: normal;
    --action-action-s-font-family: "Pretendard Variable", Helvetica;
    --action-action-s-font-size: 15px;
    --action-action-s-font-style: normal;
    --action-action-s-font-weight: 600;
    --action-action-s-letter-spacing: 0px;
    --action-action-s-line-height: normal;
    --body-body-l-font-family: "Pretendard Variable", Helvetica;
    --body-body-l-font-size: 24px;
    --body-body-l-font-style: normal;
    --body-body-l-font-weight: 400;
    --body-body-l-letter-spacing: 0px;
    --body-body-l-line-height: 22px;
    --body-body-m-font-family: "Pretendard Variable", Helvetica;
    --body-body-m-font-size: 22px;
    --body-body-m-font-style: normal;
    --body-body-m-font-weight: 400;
    --body-body-m-letter-spacing: 0px;
    --body-body-m-line-height: 20px;
    --body-body-s-font-family: "Pretendard Variable", Helvetica;
    --body-body-s-font-size: 20px;
    --body-body-s-font-style: normal;
    --body-body-s-font-weight: 400;
    --body-body-s-letter-spacing: 0.12px;
    --body-body-s-line-height: 16px;
    --body-body-XL-font-family: "Pretendard Variable", Helvetica;
    --body-body-XL-font-size: 18px;
    --body-body-XL-font-style: normal;
    --body-body-XL-font-weight: 400;
    --body-body-XL-letter-spacing: 0px;
    --body-body-XL-line-height: 24px;
    --body-body-XS-font-family: "Pretendard Variable", Helvetica;
    --body-body-XS-font-size: 10px;
    --body-body-XS-font-style: normal;
    --body-body-XS-font-weight: 400;
    --body-body-XS-letter-spacing: 0.15px;
    --body-body-XS-line-height: 14px;
    --caption-caption-m-font-family: "Pretendard Variable", Helvetica;
    --caption-caption-m-font-size: 18px;
    --caption-caption-m-font-style: normal;
    --caption-caption-m-font-weight: 600;
    --caption-caption-m-letter-spacing: 0.5px;
    --caption-caption-m-line-height: normal;
    --heading-h1-font-family: "Pretendard Variable", Helvetica;
    --heading-h1-font-size: 38px;
    --heading-h1-font-style: normal;
    --heading-h1-font-weight: 900;
    --heading-h1-letter-spacing: 0.24px;
    --heading-h1-line-height: normal;
    --heading-h2-font-family: "Pretendard Variable", Helvetica;
    --heading-h2-font-size: 36px;
    --heading-h2-font-style: normal;
    --heading-h2-font-weight: 900;
    --heading-h2-letter-spacing: 0.09px;
    --heading-h2-line-height: normal;
    --heading-h3-font-family: "Pretendard Variable", Helvetica;
    --heading-h3-font-size: 34px;
    --heading-h3-font-style: normal;
    --heading-h3-font-weight: 900;
    --heading-h3-letter-spacing: 0.08px;
    --heading-h3-line-height: normal;
    --heading-h4-font-family: "Pretendard Variable", Helvetica;
    --heading-h4-font-size: 32px;
    --heading-h4-font-style: normal;
    --heading-h4-font-weight: 800;
    --heading-h4-letter-spacing: 0px;
    --heading-h4-line-height: normal;
    --heading-h5-font-family: "Pretendard Variable", Helvetica;
    --heading-h5-font-size: 30px;
    --heading-h5-font-style: normal;
    --heading-h5-font-weight: 700;
    --heading-h5-letter-spacing: 0px;
    --heading-h5-line-height: normal;
    --highlightbackground: rgba(84, 43, 168, 1);
    --highlightlight: rgba(118, 53, 253, 1);
    --highlightlightest: rgba(222, 206, 255, 1);
    --neutraldarkdark: rgba(52, 41, 97, 1);
    --neutraldarkdarkest: rgba(27, 21, 70, 1);
    --neutraldarklight: rgba(113, 114, 122, 1);
    --neutraldarklightest: rgba(143, 144, 152, 1);
    --neutraldarkmedium: rgba(68, 63, 103, 1);
    --neutrallightdark: rgba(212, 214, 221, 1);
    --neutrallightdarkest: rgba(197, 198, 204, 1);
    --neutrallightlight: rgba(248, 249, 254, 1);
    --neutrallightlightest: rgba(255, 255, 255, 1);
    --neutrallightmedium: rgba(232, 233, 241, 1);
    --supporterrordark: rgba(237, 50, 65, 1);
    --supporterrorlight: rgba(255, 226, 229, 1);
    --supporterrormedium: rgba(255, 97, 109, 1);
    --supportsuccessdark: rgba(37, 58, 239, 1);
    --supportsuccesslight: rgba(234, 242, 255, 1);
    --supportsuccessmedium: rgba(170, 179, 255, 1);
    --supportwarningdark: rgba(232, 103, 196, 1);
    --supportwarninglight: rgba(255, 244, 228, 1);
    --supportwarningmedium: rgba(73, 159, 247, 1);
  }  