.no-of-items-wrapper {
  align-items: center;
  background-color: var(--neutrallightlight);
  border-radius: 16px;
  display: flex;
  justify-content: center;
  padding: 4px;
  position: relative;
  width: 332px;
}

.no-of-items-wrapper .class-3 {
  flex: 1 !important;
  flex-grow: 1 !important;
  z-index: 6 !important;
}

.no-of-items-wrapper .content-switcher-section {
  flex: 1 !important;
  flex-grow: 1 !important;
  z-index: 2 !important;
}

.no-of-items-wrapper .divider {
  height: 11px;
  position: relative;
  width: 1px;
}

.no-of-items-wrapper .img {
  height: 11px;
  position: relative;
  width: 1px;
  z-index: 1;
}

.no-of-items-wrapper .content-switcher-instance {
  flex: 1 !important;
  flex-grow: 1 !important;
  z-index: 0 !important;
}

.no-of-items-wrapper .class-4 {
  flex: 1 !important;
  flex-grow: 1 !important;
  z-index: 4 !important;
}

.no-of-items-wrapper .divider-2 {
  height: 11px;
  position: relative;
  width: 1px;
  z-index: 3;
}

.no-of-items-wrapper .four {
  z-index: 5;
}

.no-of-items-wrapper .three {
  z-index: 3;
}

.no-of-items-wrapper .two {
  z-index: 1;
}
