@import url('./../../styles/styleguide.css');

.nav-bar {
    height: 70px;
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    padding:20px;
    box-sizing: border-box;
}



.nav-bar .right-button {
    height: 20px;
    left: 331px;
    position: absolute;
    top: 18px;
    width: 20px;

}

.nav-bar .page-title {
    position: absolute;
    
}

.nav-bar .left-button {
    height: 20px;
    left: 24px;
    position: absolute;
    top: 18px;
    width: 20px;

}

.nav-bar .avatar-7 {
    height: 40px;
    left: 319px;
    position: absolute;
    top: 8px;
    width: 40px;

}

.nav-bar .div {
    position: absolute;
    font-size: var(--action-action-m-font-size);
}

.nav-bar .text-wrapper {
    all: unset;
    box-sizing: border-box;
    color: var(--highlightbackground);
    font-family: var(--action-action-m-font-family);
    font-size: var(--action-action-m-font-size);
    font-style: var(--action-action-m-font-style);
    font-weight: var(--action-action-m-font-weight);
    left: 24px;
    letter-spacing: var(--action-action-m-letter-spacing);
    line-height: var(--action-action-m-line-height);
    position: absolute;
    top: 20px;

}

.nav-bar .page-title-2 {
    position: absolute;
    
}

.nav-bar .page-title-3 {
    color: var(--neutraldarkdarkest);
    font-family: var(--heading-h4-font-family);
    font-size: var(--heading-h4-font-size);
    font-style: var(--heading-h4-font-style);
    font-weight: var(--heading-h4-font-weight);
    left: 152px;
    letter-spacing: var(--heading-h4-letter-spacing);
    line-height: var(--heading-h4-line-height);
    position: absolute;
    text-align: center;
    top: 19px;
    
}

.nav-bar .right-control-avatar {
    color: var(--neutraldarkdarkest);
    font-family: var(--heading-h4-font-family);
    font-size: var(--heading-h4-font-size);
    font-style: var(--heading-h4-font-style);
    font-weight: var(--heading-h4-font-weight);
    left: 152px;
    letter-spacing: var(--heading-h4-letter-spacing);
    line-height: var(--heading-h4-line-height);
    text-align: center;
    top: 19px;
    
}

.nav-bar .left-control-none {
    color: var(--neutraldarkdarkest);
    font-family: var(--heading-h4-font-family);
    font-size: var(--heading-h4-font-size);
    font-style: var(--heading-h4-font-style);
    font-weight: var(--heading-h4-font-weight);
    left: 152px;
    letter-spacing: var(--heading-h4-letter-spacing);
    line-height: var(--heading-h4-line-height);
    text-align: center;
    top: 19px;
    
}

.nav-bar .right-control-icon {
    color: var(--neutraldarkdarkest);
    font-family: var(--heading-h4-font-family);
    font-size: var(--heading-h4-font-size);
    font-style: var(--heading-h4-font-style);
    font-weight: var(--heading-h4-font-weight);
    left: 152px;
    letter-spacing: var(--heading-h4-letter-spacing);
    line-height: var(--heading-h4-line-height);
    text-align: center;
    top: 19px;
    
}

.nav-bar .right-control-none {
    color: var(--neutraldarkdarkest);
    font-family: var(--heading-h4-font-family);
    font-size: var(--heading-h4-font-size);
    font-style: var(--heading-h4-font-style);
    font-weight: var(--heading-h4-font-weight);
    left: 152px;
    letter-spacing: var(--heading-h4-letter-spacing);
    line-height: var(--heading-h4-line-height);
    text-align: center;
    top: 19px;
    
}

.nav-bar .left-control-text {
    color: var(--neutraldarkdarkest);
    font-family: var(--heading-h4-font-family);
    font-size: var(--heading-h4-font-size);
    font-style: var(--heading-h4-font-style);
    font-weight: var(--heading-h4-font-weight);
    left: 152px;
    letter-spacing: var(--heading-h4-letter-spacing);
    line-height: var(--heading-h4-line-height);
    text-align: center;
    top: 19px;
    
}

.nav-bar .right-control-text.left-control-icon {
    color: var(--highlightbackground);
    font-family: var(--action-action-m-font-family);
    font-size: var(--action-action-m-font-size);
    font-style: var(--action-action-m-font-style);
    font-weight: var(--action-action-m-font-weight);
    left: 328px;
    letter-spacing: var(--action-action-m-letter-spacing);
    line-height: var(--action-action-m-line-height);
    text-align: right;
    top: 20px;
    
}

.nav-bar .right-control-0-icon {
    color: var(--neutraldarkdarkest);
    font-family: var(--heading-h4-font-family);
    font-size: var(--heading-h4-font-size);
    font-style: var(--heading-h4-font-style);
    font-weight: var(--heading-h4-font-weight);
    left: 152px;
    letter-spacing: var(--heading-h4-letter-spacing);
    line-height: var(--heading-h4-line-height);
    text-align: center;
    top: 19px;
    
}

.nav-bar .right-control-0-avatar {
    color: var(--neutraldarkdarkest);
    font-family: var(--heading-h4-font-family);
    font-size: var(--heading-h4-font-size);
    font-style: var(--heading-h4-font-style);
    font-weight: var(--heading-h4-font-weight);
    left: 152px;
    letter-spacing: var(--heading-h4-letter-spacing);
    line-height: var(--heading-h4-line-height);
    text-align: center;
    top: 19px;
    
}


/* 네비바 타이틀 텍스트 수정 */
.nav-bar .right-control-0-none {
    color: var(--neutraldarkdarkest);
    font-family: var(--heading-h5-font-family);
    font-size: var(--heading-h5-font-size);
    font-style: var(--heading-h5-font-style);
    font-weight: var(--heading-h5-font-weight);
    left: 152px;
    letter-spacing: var(--heading-h5-letter-spacing);
    line-height: var(--heading-h4-line-height);
    text-align: center;

}

.nav-bar .right-control-0-text {
    color: var(--highlightbackground);
    font-family: var(--action-action-m-font-family);
    font-size: var(--action-action-m-font-size);
    font-style: var(--action-action-m-font-style);
    font-weight: var(--action-action-m-font-weight);
    left: 328px;
    letter-spacing: var(--action-action-m-letter-spacing);
    line-height: var(--action-action-m-line-height);
    text-align: right;
    top: 20px;
}

.nav-bar .left-control-0-icon {
    color: var(--neutraldarkdarkest);
    font-family: var(--heading-h4-font-family);
    font-size: var(--heading-h4-font-size);
    font-style: var(--heading-h4-font-style);
    font-weight: var(--heading-h4-font-weight);
    letter-spacing: var(--heading-h4-letter-spacing);
    line-height: var(--heading-h4-line-height);
    text-align: center;
    top: 19px;
 

    
}

.nav-bar .right-control-1-avatar {
    left: 152px;
    text-align: center;
}

.nav-bar .left-control-0-none {
    color: var(--neutraldarkdarkest);
    font-family: var(--heading-h4-font-family);
    font-size: var(--heading-h4-font-size);
    font-style: var(--heading-h4-font-style);
    font-weight: var(--heading-h4-font-weight);
    letter-spacing: var(--heading-h4-letter-spacing);
    line-height: var(--heading-h4-line-height);
    text-align: center;
    top: 19px;
    
}

.nav-bar .right-control-1-icon {
    left: 152px;
    text-align: center;
    
}

.nav-bar .right-control-1-none {
    left: 24px;
    text-align: center;
    
}

.nav-bar .left-control-0-text {
    color: var(--highlightbackground);
    font-family: var(--action-action-m-font-family);
    font-size: var(--action-action-m-font-size);
    font-style: var(--action-action-m-font-style);
    font-weight: var(--action-action-m-font-weight);
    letter-spacing: var(--action-action-m-letter-spacing);
    line-height: var(--action-action-m-line-height);
    top: 20px;
    
}

.nav-bar .right-control-1-text.left-control-0-none {
    left: 152px;

}

.nav-bar .right-control-1-text.left-control-0-text {
    left: 328px;
    text-align: right;

}

.nav-bar .right-control-1-text.left-control-0-icon {
    left: 152px;
    
}
