@import url('./../../styles/styleguide.css');

/* .company *{
  border: 1px solid aqua;
} */



html{
  background-color: var(--neutraldarkdarkest);  
}

/* 전체화면 */
.company {
  align-items: center;
  background-color: var(--neutraldarkdarkest);
  display: inline-flex;
  flex-direction: column;
  gap: 10px;
  position: relative;
  width: 100%;
  height: fit-content;
}


.companyContent{
  width: 600px;
  padding-bottom: 5%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

/* 네비바 */

.company .nav-bar-instance {
  background-color: var(--neutraldarkdarkest);
  position:sticky;
  top: 0;
  z-index: 10;
}

/* 네비 타이틀 글자 */
.company .nav-title-text {
  color: var(--neutrallightlightest);
}



.company .company-profile {
  align-items: center;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  padding: 30px 140px;
  width: 100%;
  box-sizing: border-box;

}

.company .profile-img {
  height: 100px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(#fff,#fff,#fff,#fff, rgba(27, 21, 70, 1) );
  border-radius: 10px;
}

.profile-img .overlap-group {
  height: 100%;
  width: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left:40px;

}

.company .avatar-8 {
  height: 80px;
  left: 0;
  top: 0;
  width: 80px;
}

.company .heart-filled {
  position: relative;
  left: -30px;
  top:30px;
}

.company .name {
  align-items: center;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 4px;
  position: relative;
  width:100%;
}

.company .text-wrapper-2 {
  color: var(--neutrallightlightest);
  font-family: var(--heading-h3-font-family);
  font-size: var(--heading-h3-font-size);
  font-style: var(--heading-h3-font-style);
  font-weight: var(--heading-h3-font-weight);
  letter-spacing: var(--heading-h3-letter-spacing);
  line-height: var(--heading-h3-line-height);
  margin-top: -1px;
  position: relative;
  text-align: center;
  white-space: nowrap;
  width: fit-content;
}

.company .text-wrapper-3 {
  color: var(--neutrallightdark);
  font-family: "Inter", Helvetica;
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 0.12px;
  line-height: 16px;
  position: relative;
  text-align: center;
  white-space: nowrap;
  width: fit-content;
}

.description{
  display: flex;
  flex-direction: row;
}

.company .tab {
  display: flex;
  width: 100%;
  box-sizing: border-box;
  height: fit-content;
  gap: 10px;
  justify-content: center;
  position: sticky;
  top: 70px; /* 고정되는 위치를 화면 상단으로 설정 */
  z-index: 1;
  background-color: var(--neutraldarkdarkest);

}


.company .content-switcher-2 {
  background-color: unset;
  width: 70%;
  background-color: var(--neutraldarkdarkest);

}

.company .design-component-instance-node-2 {
  color: var(--neutrallightlightest);
}

.company .content-switcher-3 {
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-color: var(--highlightlight);
  border-radius: unset;
  flex: 1;
  flex-grow: 1;
  z-company: 4;
}

.company .content-switcher-4 {
  color: var(--neutrallightdark);
  margin-top: -0.7px;
}

.company .content-switcher-5 {
  border-bottom-style: solid;
  border-bottom-width: 0.7px;
  border-color: var(--neutraldarkdark);
  border-radius: unset;
  flex: 1;
  flex-grow: 1;
  z-company: 2;
}

.company .content-switcher-6 {
  background-color: unset;
  border-bottom-style: solid;
  border-bottom-width: 0.7px;
  border-color: var(--neutraldarkdark);
  border-radius: unset;
  flex: 1;
  flex-grow: 1;
  z-company: 0;
}

.company-section{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

.company .company-detailinfo {
  align-items: center;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  justify-content: center;
  padding: 20px 22px;
  position: relative;
  width: 60%;
  height:fit-content;
  box-sizing: border-box;
  gap:10px
}

.company .subtitile {
  flex: 0 0 auto;  
  width: 100%;
}

.company .list-title-2 {
  color: var(--neutrallightlightest);
  flex: unset;
  font-size: var(--action-action-l-font-size);

}


.company-section .checkBox{
  color: var(--neutrallightlightest);
  font-family: var(--heading-h5-font-family);
  font-style: var(--heading-h5-font-style);
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.checkBox .checkLabel{
  background-color: var(--neutraldarkmedium);
  border-radius: 20px;
  padding:5px;
}


.company .news {
  height: fit-content;
  margin-bottom: 50px;
  position: relative;
  width: 375px;
}

.newsContents{
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.company .news-list-component {
  align-items: center;
  display: inline-flex;
  flex-direction: column;
  gap: 30px;
  justify-content: center;
  left: 32px;
  position: absolute;
  top: 53px;
}

.company .news-bubble {
  align-items: flex-start;
  background-color: var(--neutraldarkmedium);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  gap: 4px;
  padding: 12px 16px;
  position: relative;
}

.company .name-4 {
  align-self: stretch;
  color: var(--neutrallightdarkest);
  font-family: "Inter", Helvetica;
  font-size: var(--body-body-XS-font-size);
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1px;
  position: relative;
}

.company .message-2 {
  color: var(--neutrallightlightest);
  font-family: "Inter", Helvetica;
  font-size: var(--body-body-XS-line-height);
  font-weight: 400;
  letter-spacing: 0;
  line-height: 20px;
  margin-bottom: -1px;
  position: relative;
  width: fit-content;
}

.company .text-wrapper-5 {
  font-weight: 700;
}

.company .text-wrapper-6 {
  color: #ffffff;
  font-family: "Inter", Helvetica;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 20px;
}



.company .accordion-instance {
  left: 225px;
  position: absolute;
  top: 511px;
  width: 300px;
}

.company .accordion-2 {
  background-color: transparent;
}
