.navbar {
    width: 600px;
    height: 80px;
    background-color: #f2f2f2;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    background-color: transparent;
}

.icon {
    font-size: 50px;
    position: absolute;
    left: 20px;
    color: var(--highlightbackground);
}

.title {
    font-family: var(--heading-h3-font-family);
    font-size: var(--heading-h3-font-size);
    font-style: var(--heading-h3-font-style);
    font-weight: var(--heading-h3-font-weight);
    letter-spacing: var(--heading-h3-letter-spacing);
    line-height: var(--heading-h3-line-height);
    color: var(--neutrallightlightest);
}
